@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject ILocalStorageService localStorage

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        @if (userId != 0)
        {
            <Button Title="Log Out" OnClick="@LogOut" Enabled="true" Size="ButtonSize.Medium"></Button>
        }
        else
        {
            <Button Title="Log In" OnClick="@LogIn" Enabled="true" Size="ButtonSize.Medium"></Button>
        }
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code {
    private int userId;

    protected override async Task OnInitializedAsync()
    {
        userId = await localStorage.GetItemAsync<int>("userId");
    }

    private async Task LogOut()
    {
        await localStorage.RemoveItemAsync("userId");
        NavigationManager.NavigateTo("/authentication");
    }

    private Task LogIn()
    {
        NavigationManager.NavigateTo("/authentication");
        return Task.CompletedTask;
    }
}
