@page "/timeline"
@inject NavigationManager NavigationManager
@inject IPostingService PostingService
@inject Blazored.LocalStorage.ILocalStorageService localStorage;
@inject IFollowService FollowService

<h3>Timeline</h3>

<Button Title="Create New Post" OnClick="@NavigateToNewPostForm" Enabled="true"></Button>

<Grid>
    <GridColumn>
        @foreach (var post in timelinePosts)
        {
            <GridItem>
                <Card>
                   <p1>Content: @post.Content</p1><br />
                    <p1>Date: @post.PostDate</p1>
                </Card>
            </GridItem>

        }
    </GridColumn>
</Grid>


@code {

    private List<Post> timelinePosts = new List<Post>();

    protected override async Task OnInitializedAsync()
    {
        int userId = await localStorage.GetItemAsync<int>("userId");
        List<Follow> follows = await FollowService.GetFollows(userId);
        timelinePosts = await PostingService.GenerateTimeline(follows);

    }

    private Task NavigateToNewPostForm()
    {
        NavigationManager.NavigateTo("/createpost");
        return Task.CompletedTask;
    }
}
