@page "/timeline"
@inject NavigationManager NavigationManager
@inject IPostingService PostingService
@inject Blazored.LocalStorage.ILocalStorageService localStorage;
@inject IFollowService FollowService

<h3>Timeline</h3>



@code {
    protected override async Task OnInitializedAsync()
    {
        int userId = await localStorage.GetItemAsync<int>("userId");
        List<Follow> follows = await FollowService.GetFollows(userId);
        List<Post> timelinePosts = await PostingService.GenerateTimeline(follows);

    }
}
