<div class="button m-2">
    @if (Disabled)
    {
        <button @onclick="@Click" class="w-50" disabled>@Title</button>
    }
    else
    {
        <button @onclick="@Click" class="w-50">@Title</button>
    }
</div>

@code {
    [Parameter]
    public string Title { get; set; } = "";

    [Parameter]
    public Func<Task> OnClick { get; set; }

    [Parameter]
    public bool Disabled { get; set; } = true;

    private async Task Click()
    {
        if (OnClick != null)
        {
            await OnClick.Invoke();
        }
    }

    public void ToggleDisable(bool Disable)
    {
        this.Disabled = Disable;
        StateHasChanged();
    }
}
